
@media screen and (max-width: 1199px) {
/*  .horizontal-menu .header-navbar.navbar-brand-center .navbar-header .navbar-brand .brand-logo .logo
  {
    height: 24px;
    position: relative;
    left: -480%;
    top: -60%;
    }*/

     #navbar-mobile.navbar-collapse .navbar-nav .dropdown-menu
    {
        /*left: 260px !important;*/
        
    }


    .tab-info, .tab-success, .tab-warning {
        width: 100% !important;
       font-size: 10px;
       /*left: -10px;*/


    }
    .play-wrapper {
        /*height: 400px;*/
        background-position-y:center;
        background-size: cover;
        top:50px;
    }


}

  .horizontal-menu .header-navbar
    {
      background-color: transparent !important;
    }

    .horizontal-layout .header-navbar .navbar-container
    {
        padding:  0;
    }
    .dropdown-menu {
     /*   left: 0;
        right: 10px;*/
        width: 100px !important;
        min-width:  20px !important;
    }


 
    .tab-success {
        box-shadow: 0px 0px 10px #39DA8A; 
        background-color: #7bba2d;
    }
    .tab-info {
        box-shadow: 0px 0px 10px #00cfdd;
        background-color: #5cc3cf;
    }
    .tab-blue {
        background-color: #4d75a7;
    }
    .tab-warning {
        box-shadow: 0px 0px 10px #FDAC41;
        background-color: #d8910f;
    }
    .tab-info, .tab-success, .tab-warning, .tab-blue, .tab-blue-gradient {
       min-height: 40px;
       transform: skew(-10deg);
       color: white;
       border-radius: 10px;
       /*padding: 0 10px;*/
       position: relative;
      line-height: 12px;
      text-align: center;
      border: 2px solid transparent;
    }


.play-wrapper {

  text-align: center;
}
.play-wrapper h1 {
     display: inline-block;
  vertical-align: middle;
  line-height: normal;
    position: relative;
    color: white;
    font-size: 20px;



}

.tab-blue-gradient {
    background-image: linear-gradient(to right, #2a3d56 , #000);
}




.collapse-title{
    color: #c2d7e8;
}
.grey-font {
    color: #636467;
}
.white-font {
    color: #fff;
}
.horizontal-menu .header-navbar{
    border-bottom: none !important;
}



.header-title {
    font-size: 16px;
    color: #fff;
    font-style: italic;
    text-transform: uppercase;
}



/*******GENERAL***********************************************/

@media screen and (min-width: 1200px) {

    #navbar-mobile.navbar-collapse .navbar-nav .dropdown-menu
    {
        right: 60px !important;
    }

    .play-wrapper {
        height: 500px;
        background-position-y: center;
        background-size: cover;
        top: 50px;
        margin: 0 auto;
    }
    .play-wrapper h1 {
        top: 170px;
    }

    .body-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 20%;
        padding-top: 5%;
    }

    .agsl-logo {
        width: 82px;
        /*top: 30%;*/
        position: relative;
    }

     .hppc {
        width: 25%;
        top: 30%;
        position: relative;
    }

}

@media screen and (max-width: 1199px) {

    .body-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 20%;
        padding-top: 10%;

    }
    .agsl-logo {
        width: 52px;
        top: 30%;
        position: relative;
    }
    .hppc {
        width: 25%;
        top: 30%;
        position: relative;
    }
}


.dropdown-menu {
    background-color: transparent !important;
    border: none !important;
    z-index: 900;
}

.logo {
    width: 32%; display: inline-block;
      margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.nav-left {
    width: 22%; display: inline-block;
    top: 7px;
    position: relative;
}
.header-nav img {
  height: auto;

}

.content_wrapper {
/*    max-width: 600px;
    margin: 0 auto;
    border: 1px solid red;*/
}
.nav-2 .app-container {
        width: 600px;
        margin: 0 auto;
    }

.nav-link{
    /*padding: 0.567rem 0 !important;*/
}
/*input.trans-input {
    color: white !important;
    border: none !important;
    width: 100% !important;
    outline: none !important;
    background-color: transparent;
    width: 100%;
    height: 100%;
    appearance: none;
    background: transparent;
    border: none;
    resize: none;

}*/

.wrapper
{
    background-image: url(../../app-assets/images/home/textbox-bg.png);
    background-color: transparent;
    border: none;
    outline: unset;
    background-repeat: no-repeat;
    /* height: 50px; */
    background-size: 100% 100%;
    width: 100%;
    /* aspect-ratio: 1; */
    padding: 1.2rem 3rem;
    padding-left: 0.4rem;
}

.wrapper input.trans-input
{
    appearance: none;
    resize: none;
    width: 100%;
    appearance: none;
    background: transparent;
    border: none;
    resize: none;
    color: white;
    padding-left: 10px;
    color: white !important;
    border: none !important;
    outline: none !important;
    background-color: transparent;
}

.green-yellow-btn-wrapper {
    margin: 0 auto;
}
.unskewed {
    font-size: 1rem;
    line-height: 1;
}
@media screen and (min-width: 700px) {

    .wrapper
    {
        padding: 2rem 3rem;
        padding-left: 1.5rem;
    }
}
.table.dataTable {
    top: 50px;
    position: relative;
}

tfoot, thead {
    display: none;
}
div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate{
    padding-top: 60px;
}
.pagination .page-item.previous {
    left: 0;
    position: absolute;
}

.pagination .page-item.next {
   right: 0;
    position: absolute;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content:  center !important;
}

.dropdown .dropdown-toggle::after, .dropup .dropdown-toggle::after, .dropright .dropdown-toggle::after, .dropleft .dropdown-toggle::after {
    display: none !important;
}

html .navbar-static .app-content .content-wrapper {
    /*padding: 0 !important;*/
}

.header-navbar.fixed-top {
    background-color: transparent !important;
    margin: 0 auto;
}
.header-navbar.fixed-top.scrolled {
  background-color: #0b0c10 !important;
  transition: background-color 200ms linear;
}
#dropdown-flag:after {
    display: none;
}

.card {
    background-color: transparent !important;
}

.header-navbar .navbar-container {
    padding-left: 1rem !important;
    padding-right: 0.2rem !important;
}
@media screen and (min-width: 640px) {
    .row.nav-2-row {
        width: 600px !important;
        margin: 0 auto !important;
    }
}
/******FOOTER************************************************/

.footer {
    position: fixed;
    background: transparent;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    /*padding: 0 0 0 0;*/
    overflow: hidden;
    z-index: 1000;
    background-image: linear-gradient(180deg, transparent, black);
}

.header {
    position: fixed;
    background: transparent;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    /*padding: 0 0 0 0;*/
    overflow: hidden;
    z-index: 2;
}

.app-container {
    max-width: 600px;
    margin: 0 auto;
}

.footer .footer-inner {
    border-radius: 10px;
    background-color: #25272b;
}

.footer img {
    max-width: 24px;
    /*height: 24px;*/
    top: 10px;
    position: relative;

}

.footer img.active {
    /*width: 50px;*/
    /*top: -0.1px;*/
    /*position: relative;*/
    /*max-width: 50px;*/
}

.footer .white-font  {
    /*top: -15px;*/
    position: relative;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    top: 10px;
}

.footer .grey-font {
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    position: relative;
    top: 10px;

}


/*mobile*/
@media screen and (max-width: 1199px) {
    footer {
        /*width: 100%;*/
    }
}

/*desktop*/
@media screen and (min-width: 1200px) {
    footer {
        /*width: 100%;*/
    }

    footer.footer {
        /*width: 600px;*/

    }
}

@media screen and (min-width: 600px) {


    footer.footer {
        /*width: 600px;*/

    }
}

.user-profile-card {
    margin: 0 auto;
}

/*********ACCOUNT*********************************************/
.swal2-popup.swal2-modal.swal2-show {
    background-color: black;
    box-shadow: 0px 0px 10px #fdac41;
}

.tab-submit-yellow {
    width: 100%;
    /*transform: skew(-10deg);*/
    color: white;
    /* border-radius: 10px; */
    position: relative;
    line-height: 12px;
    text-align: center;
    padding: 2em;
    /* min-height: 40px; */
    background-image: url(../../app-assets/images/home/yellow-btn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.tab-submit-blue {
    width: 100%;
    /*transform: skew(-10deg);*/
    color: white;
    /* border-radius: 10px; */
    position: relative;
    line-height: 12px;
    text-align: center;
    padding: 2em;
    /* min-height: 40px; */
    background-image: url(../../app-assets/images/home/blue-btn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.tab-submit-green {
    width: 100%;
    /*transform: skew(-10deg);*/
    color: white;
    /* border-radius: 10px; */
    position: relative;
    line-height: 12px;
    text-align: center;
    padding: 2em;
    /* min-height: 40px; */
    background-image: url(../../app-assets/images/home/green-btn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.important {
    box-shadow: inset 0px 0px 40px 5px rgb(233 141 32 / 39%);
    border-radius: 15px;
    position: relative;
    top: 10px;
    border: 3px solid rgb(241, 172, 98, 0.3);
    /*opacity: 0.53;*/
}

.tab-blue, .tab-red, .tab-green, .tab-orange {
    width: 100px;
    min-height: 40px;
    transform: skew(-10deg);
    color: white;
    border-radius: 10px;
    padding: 0 10px;
    position: relative;
    line-height: 12px;
    text-align: center;
    border: 2px solid transparent;
}
.tab-blue {
   background-color: #4d75a7;
}

.tab-green {
   background-color: #8ee327;
}
.tab-blue:hover {
    color: #fff;
}
.tab-red {
  background-color: #FF5B5C;
}
.tab-orange {
    background-color: #d8910e;
}
.account-info-icon {
    color: #fdac41;
    
}
.account-info-icon .bxs-error {
    font-size: 40px;
}
h2#swal2-title {
    color: #fff;
    font-size: 16px;
}
.swal2-styled.swal2-confirm {
   background-color: #8ee327 !important;

}


.avatar {
    background-color: transparent !important;
    box-shadow: 0px 0px 10px #1c1e28;
}

.outer-line {

        background-image: url(../../app-assets/images/home/account/account-bg.png);
        background-size: 100% 100%;
}

@media screen and (max-width: 539px) {
    .outer-line {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;

    }
}

@media screen and (min-width: 540px) {
    .outer-line {
        padding-top: 3.0rem !important;
        padding-bottom: 3.0rem !important;

    }
}



.button_x_bg {

    background-image: url(../../app-assets/images/home/yellow-trans-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.button_right_bg {
    
    background-image: url(../../app-assets/images/home/green-trans-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.button_right_bg h3, .button_x_bg h3 {
    top: 10px;
    position: relative;
}

.playing {
    color: #575758;
    position: relative;
    top: 4px;
}
.figure {
    color: #fff;
    position: relative;
    top: 4px;
}


/*mobile*/
@media screen and (max-width: 1199px) {

    .acc-ico-wrapper {
      height: 40px;
      position: relative;
    }

    .acc-ico {
      width: 50%;
    }
    .inner-line {
        color:#4a4a4b;
        text-align: center;
        font-size: 0.8rem;
        line-height: 1.2;
    }
    .wallet-text {
        color:#4a4a4b;
        text-align: center;
        font-size: 10px;
        line-height: 1.2;
    }
     .dollar-text {
        font-size: 16px;
    }
    .icon-gp {
        width: 24px;
        height: 24px;
    }

    .tab-submit-yellow {
       /*padding: 0 10px;*/
       /*min-height: 40px;*/

    }

}


/*desktop*/
@media screen and (min-width: 1200px) {

    .acc-ico-wrapper {
      height: 60px;
      position: relative;
    }
    .acc-ico {
      width: 50%;
    }
    .inner-line {
        color:#4a4a4b;
        text-align: center;
        font-size: 1rem;
        /*padding:30px 0;*/
    }
    .wallet-text {
        color:#4a4a4b;
        text-align: center;
        font-size: 16px;
        line-height: 1.2;
    }
    .dollar-text {
        font-size: 24px;
    }
    .icon-gp {
        width: 36px;
        height: 36px;
    }

    .tab-submit-yellow {
    /*   padding: 6px 15px;
       min-height: 50px;*/


    }

}

/*****MY PLAY*************************************************/

.play-time {
    top: -5px;
    position: relative;
    color:#575758;
    font-size: 11px;
}

/*mobile*/
@media screen and (max-width: 600px) {
    
    .zero-configuration td.text-right {
        width: 40%;
    }
}

/*desktop*/
@media screen and (min-width: 601px) {
    .zero-configuration td.text-right {
        width: 10%;
    }
}

/*desktop*/
@media screen and (min-width: 1200px) {
    .zero-configuration td.text-right {
        width: 30%;
    }
}
.page-item.active .page-link {
    background-color: transparent; !important;
    color: #fff !important;

}
.page-link {
    color: #4f5861 !important;
}
.pagination .page-item.active .page-link, .pagination .page-item.active .page-link:hover{
    background-color: transparent !important;

}
.zero-configuration td {
    border-bottom: none;
    padding: 10px 0;
}

li.paginate_button.page-item, .pagination .page-item .page-link {
    border: none !important;
}
.pagination .page-item.previous.disabled .page-link, .pagination .page-item.next.disabled .page-link, .pagination .page-item.first.disabled .page-link, .pagination .page-item.last.disabled .page-link {
  background-color: transparent !important;
  color: #646467 !important;
}

/*********HASHIES****************************************/
.hashies-toggle {
    position: relative;
    top: 10px;
}
.hashies-timer {
    color: white !important;
    border: none !important;
    width: 100% !important;
    outline: none !important;
    background-color: transparent;
    -moz-box-shadow: inset 0 0 5px 5px #888;
    -webkit-box-shadow: inset 0 0 5px 5px#888;
    box-shadow: inset 0 0 1px 1px #25272b;
    height: 15px;
    background-color: transparent;
    height: 80px;
    border-radius: 10px;
    padding-left: 10px;
}

.hashies-timer-top {
    color: white !important;
    border: none !important;
    width: 100% !important;
    outline: none !important;
    background-color: transparent;
    -moz-box-shadow: inset 0 0 5px 5px #888;
    -webkit-box-shadow: inset 0 0 5px 5px#888;
    box-shadow: inset 0 0 1px 1px #25272b;
    height: auto !important;
    background-color: transparent;
    height: 80px;
    border-radius: 10px;
    padding-left: 10px;
    bottom: 10px;
}

.divider {
    background-color: rgb(77, 117, 167);
    opacity: 0.302;
    position: relative;
    width: 2px;
    height: 30px;
    z-index: 111;
    top: 10px;
}

.hashies-timer-top h3 {
    color:#e8c661;
    position: relative;
    top: 5px;
}
.hashies-time {
    color: #fff;
    position: relative;
    top: 10px;
}

.hashies-text {
    color: #464448;
}
.hashies-wrapper {
    position: relative;
    top: 50px;
}
@media screen and (max-width: 400px) {
    .hashies-wrapper .tab-submit-yellow {
        padding: 1em;
    }
}

@media screen and (max-width: 600px) {
  .hashies-wrapper .tab-submit-yellow {
        padding: 1.6em;
    }
}

/********NEWS**********************************************/

/*mobile*/
@media screen and (max-width: 600px) {
    .news-title {
        color: #fff;
        font-size: 20px;
        padding-top: 20px;
    }
    .news-wrapper {
        background-image: url(../../app-assets/images/home/news-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        /*min-height: 200px;*/
        padding: 20px;
    }
}

/*desktop*/
@media screen and (min-width: 601px) {
    .news-title {
        color: #fff;
        font-size: 30px;
        padding-top: 20px;
    }
    .news-wrapper {
        background-image: url(../../app-assets/images/home/news-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        /*min-height: 200px;*/
        padding: 10% 3%;
    }
}

.news-info {
    color: #616d78;
    font-size: 12px;
}
.news-body {
    line-height: 1.8;
    color: rgb(194, 215, 232);
}


/********ASSET******************************************/

.asset-info {
    color:#454e58;
    text-align: center;
    font-size: 20px;
}
.asset-money {
    color: #c2d7e8;
    font-size: 24px;
}
.asset-collapse .card-body , .asset-collapse .card-header{
    padding: 0 1.7rem;
}
.asset-status {
    color: #c2d7e8;
}
.important-notice {
    list-style-type: none;
    left: -20px;
    position: relative;
}
.collapse-header {
    color: white !important;
    border: none !important;
    width: 100% !important;
    outline: none !important;
    background-color: transparent;
    -moz-box-shadow: inset 0 0 5px 5px #888;
    -webkit-box-shadow: inset 0 0 5px 5px#888;
    box-shadow: inset 0 0 1px 1px #25272b;
    height: 15px;
    background-color: transparent;
    height: 80px;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
}

button#dropdownMenuButton3 {
    border: none;
}
.nav.nav-tabs {
    border-bottom: none;
}
.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle{
    background: none;
}
/***LOGIN*****************************/
.welcome{
    color: #315c23;
    font-size: 34px;
    -webkit-text-stroke: 1px #315c23;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: -13px;
}

.login-wrapper {
    background-image: url(../../app-assets/images/home/login-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}

.pwd{
    position: relative;
}
.p-viewer {
    z-index: 9999;
    position: absolute;
    top: 30%;
    right: 10px;
}

.fa-eye {
    color: #000;
}

/*****GAME***************************/

.green-active-bg {
    background-image: url(app-assets/images/home/green-game-zone.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10em;
    padding-bottom: 10em;
}

.yellow-active-bg {
    background-image: url(app-assets/images/home/yellow-game-zone.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10em;
    padding-bottom: 10em;
}

.green-inactive-bg {
    background-image: url(app-assets/images/home/game-grey-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10em;
    padding-bottom: 10em;
}

.yellow-inactive-bg {
    background-image: url(app-assets/images/home/game-grey.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10em;
    padding-bottom: 10em;
}

@media screen and (max-width: 400px) {
   .green-active-bg {
        background-image: url(../../app-assets/images/home/green-game-zone.png);
        background-size: contain;
    }

    .yellow-active-bg {
        background-image: url(../../app-assets/images/home/yellow-game-zone.png);
        background-size: contain;
    }

    .green-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey-1.png);
        background-size: contain;
    }

    .yellow-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey.png);
        background-size: contain;
    }

    .play-card .eos, .play-card .tron {
        font-size: 1.2rem;
        top: -60%;
    }
     .play-card .more {
         font-size: 1.2rem;
        top: -60%;
    }


    .play-card .play-button-yellow {
        top: 5px;
        width: 80% !important;
        margin: 0 auto;
        left: 5%;
    }

    .play-card .play-button-green {
        top: 5px;
        width: 80% !important;
        margin: 0 auto;
        right: 5%;
    }
}

@media screen and (min-width: 401px) {
  .green-active-bg {
        background-image: url(../../app-assets/images/home/green-game-zone.png);
        background-size: contain;
    }

    .yellow-active-bg {
        background-image: url(../../app-assets/images/home/yellow-game-zone.png);
        background-size: contain;
    }
        .green-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey-1.png);
        background-size: contain;

    }

    .yellow-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey.png);
        background-size: contain;

    }
    .play-card .eos, .play-card .tron {
        font-size: 2.4rem;
        top: 20%;
    }
}

@media screen and (min-width: 500px) {
 .green-active-bg {
        background-image: url(../../app-assets/images/home/green-game-zone.png);
        background-size: contain;
    }

    .yellow-active-bg {
        background-image: url(../../app-assets/images/home/yellow-game-zone.png);
        background-size: contain;
    }
    .green-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey-1.png);
        background-size: contain;

    }

    .yellow-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey.png);
        background-size: contain;

    }
    .play-card .eos, .play-card .tron {
        font-size: 2.4rem;
        top: 20%;
    }

    .play-card .play-button-yellow {
        top: 75px;
        width: 80% !important;
        margin: 0 auto;
        left: 0;
    }

    .play-card .play-button-green {
        top: 75px;
        width: 80% !important;
        margin: 0 auto;
        right: 0;
    }

    .play-card .more {
        font-size: 2.4rem;
        top: 20%;
    }

}

@media screen and (min-width: 700px) {
   .green-active-bg {
        background-image: url(../../app-assets/images/home/green-game-zone.png);
        background-size: contain;
        padding-top: 20em;
        padding-bottom: 20em;
    }

    .yellow-active-bg {
        background-image: url(../../app-assets/images/home/yellow-game-zone.png);
        background-size: contain;
        padding-top: 20em;
        padding-bottom: 20em;
    }

    .green-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey-1.png);
        background-size: contain;
        padding-top: 20em;
        padding-bottom: 20em;
    }

    .yellow-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey.png);
        background-size: contain;
        padding-top: 20em;
        padding-bottom: 20em;
    }
    .play-card .eos, .play-card .tron {
        font-size: 2.4rem;
        top: 20%;
    }

}

@media screen and (max-width: 280px) {
 .green-active-bg {
        background-image: url(../../app-assets/images/home/green-game-zone.png);
        background-size: contain;
    }

    .yellow-active-bg {
        background-image: url(../../app-assets/images/home/yellow-game-zone.png);
        background-size: contain;
    }
    .play-card .eos, .play-card .tron {
        font-size: 2.4rem;
        top: 20%;
    }

}


/*mobile*/
@media screen and (max-width: 1199px) {
    .game-menu {
        width: 200px !important;
    }
    .my-assets {
        color: #5d6772;
        font-size: 16px
    }
    .asset-gp {
        width: 32px;
    }
    .game-money {
        font-size: 20px;
    }

    .game-bg-green {
        width: 135px;
    }

    .game-bg-yellow {
        width: 150px;
        right: 10px;
        position: relative;
    }
     
}

/*desktop*/
@media screen and (min-width: 1200px) {
    .game-menu {
        width: 200px !important;
    }
    .my-assets {
        color: #5d6772;
        font-size: 24px
    }
    .asset-gp {
        width: 36px;
    }

   .game-bg-green {
        width: 200px;
    }

    .game-bg-yellow {
        width: 220px;
        right: 10px;
        position: relative;
    }

    
    .play-card .eos, .play-card .tron {
        font-size: 2.4rem;
        top: 20%;
    }
}

.play-button-green {
    top: 45px;
    width: 50% !important;
    margin: 0 auto;
    right: 10%;

}

.play-button-yellow {
    top: 45px;
    width: 50% !important;
    margin: 0 auto;
    left: 10%;
}

.play-card .tab-submit-yellow, .play-card .tab-submit-green {
    padding: 1em;
}

/*****HOME******************************************/

.play-btn {
    width: 150px;
    left: -50px;
    position: relative;
    z-index: 900;
    top: 70px;
}

.play-btn-text {
    position: relative;
    top: -30px;
    z-index: 1000;
    font-size: 20px;
    color: white;
}



.last-wrapper,.left-wrapper,  .right-wrapper {

}

.last-wrapper img,.left-wrapper img,.right-wrapper img {
/*    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;*/
}
.last-wrapper img {
    top: -30%;
    width: 100%;
    position: relative;
}
.account-wrapper {
    padding-bottom: 20%;
    position: relative;
}

#outer-div {
  width: 100%;
  text-align: center;
}

#inner-div {
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
}

.more {
     background: -webkit-linear-gradient(#fff, #000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.tron {
   background: -webkit-linear-gradient(#d8910f, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eos {
   background: -webkit-linear-gradient(#7bba2d, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*mobile*/
@media screen and (max-width: 1199px) {

    .game-bg-green {
        width: 150px;
    }

    .game-bg-yellow {
        width: 165px;
        right: 35px;
        position: relative;
    }

    .play-wrapper {
        position: absolute;
        top: 110px;
        left: -0.5%;z-index: 99;
    }

    .play-wrapper h1 {
        top: -36%;
        /*left: 20%;*/
    }

}




@media screen and (max-width: 400px) {
    .eos, .tron {
         font-size: 1.2rem;
         top: -60%;
         position: relative;
         /*right: -30%;*/
         font-weight: bolder;
    }
    .eos {
        right: 20%;
    }
    .tron {
        left: 20%;
    }

    .play3-btn {
        width: 100%;
        /*left: 20%;*/
        position: relative;
        top: 10%;
    }
    .play-wrapper {
        position: absolute;
        top: 30%;
        left: 25%;
        z-index: 99;
    }
    .play-wrapper h1 {
        font-size: 16px;
        top: -80px;
    }
}

@media screen and (min-width: 401px) {
    .eos, .tron {
         font-size: 1.2rem;
         top: 0;
         position: relative;
         /*right: -30%;*/
         font-weight: bolder;
    }

    .eos {
        right: 20%;
    }
    .tron {
        left: 20%;
    }
    .play3-btn {
        width: 100%;
        /*left: 20%;*/
        position: relative;
    }
    .play-wrapper {
        position: absolute;
        top: 30%;
        left: 25%;
        z-index: 99;
    }
    .play-wrapper h1 {
        font-size: 16px;
        top: -85px;
    }
}

@media screen and (min-width: 500px) {

    .eos, .tron {
        font-size: 2.4rem;
        top: -220%;
    }
    .play-wrapper {
        position: absolute;
        top: 20%;
        left: 25%;
        z-index: 99;
    }
    .play-wrapper h1 {
        font-size: 30px;
        top: -130px;
    }
    .green-active-bg {
        padding-top: 20em;
        padding-bottom: 20em;
    }

    .yellow-active-bg {
        padding-top: 20em;
        padding-bottom: 20em;
    }

    .green-inactive-bg {
        padding-top: 20em;
        padding-bottom: 20em;
    }

    .yellow-inactive-bg {
        padding-top: 20em;
        padding-bottom: 20em;
    }


}

@media screen and (min-width: 700px) {

    .eos, .tron {
        font-size: 3rem;
        top:  -60%;
    }

    .play-wrapper {
        position: absolute;
        top: 28%;
        left: 25%;
        z-index: 99;
    }
    .play-wrapper h1 {
        font-size: 30px;
        top: -160px;
    }

}

@media screen and (max-width: 280px) {
    .play-wrapper {
        position: absolute;
        top: 80px;
        left: -0.5%;z-index: 99;
    }

}
/*desktop*/
@media screen and (min-width: 1200px) {

    .game-bg-green {
        width: 250px;
    }

    .game-bg-yellow {
        width: 270px;
        right: 60px;
        position: relative;
    }

     .play3-btn {
        width: 100%;
        /*left: 20%;*/
        position: relative;
    }
    .play-wrapper {
        position: absolute;
        top: 25%;
        left: 25%;
        z-index: 99;
    }
    .play-wrapper h1 {
        font-size: 30px;
        top: -165px;
    }

    .eos, .tron {
        font-size: 3rem;
        top:  -80%;
    }
    .eos {
        right: 20%;
    }
    .tron {
        left: 20%;
    }
    
}

.home-nav {
    top: 30px;
    position: relative;
    padding-bottom: 30px;
}


.home .tab-submit-yellow, .home .tab-submit-blue, .home .tab-submit-green {
    background-size: 100% 50%;
    padding: 2.5em !important;
    width: 100%;
    color: white;
    position: relative;
    line-height: 12px;
    text-align: center;
    padding: 2em;
    background-repeat: no-repeat;
}
.home .tab-submit-yellow {
    background-image: url(../../app-assets/images/home/home-yellow-btn.png);

}

.home .tab-submit-blue {
    background-image: url(../../app-assets/images/home/home-blue-btn.png);

}

.home .tab-submit-green {
    background-image: url(../../app-assets/images/home/home-green-btn.png);

}

.home .unskewed {
    position: relative;
    top: -25px;
}

@media screen and (max-width: 600px) {
   .home .tab-submit-yellow, .home .tab-submit-blue, .home .tab-submit-green {
    padding: 1.5em !important;
   }

   .home .unskewed {
    position: relative;
        top: -15px !important;
        font-size: 0.5em;
    }

}
