/*****GAME***************************/
.game .green-active-bg {
    background-image: url(../../app-assets/images/home/green-game-zone.png);
    background-repeat: no-repeat;

}

.game .yellow-active-bg {
    background-image: url(../../app-assets/images/home/yellow-game-zone.png);
    background-repeat: no-repeat;
}


.game .green-inactive-bg {
    background-image: url(../../app-assets/images/home/game-grey.png);
    background-repeat: no-repeat;

}

.game .yellow-inactive-bg {
    background-image: url(../../app-assets/images/home/game-grey-1.png);
    background-repeat: no-repeat;

}
.game .play-button-green {
    top: 45px;
    width: 50% !important;
    margin: 0 auto;
    right: 10%;

}

.game .play-button-yellow {
    top: 45px;
    width: 50% !important;
    margin: 0 auto;
    left: 10%;
}


.play-card .unskewed {
    top: 6px;
    position: relative;
}

/**galaxy fold dimension**/
@media screen and (min-width: 280px) {
    .game-menu {
        width: 120px !important;
    }
    .my-assets {
        color: #5d6772;
        font-size: 12px
    }
    .asset-gp {
        width: 20px;
        top: 3px;
        position: relative;
        left: -5px;
    }
    .game-money {
        font-size: 16px;
    }
    .game .wrapper {
        padding: 0 !important;
    }
    .game .wrapper-text {
        position: relative;
        top: -10px;
        color: #fff;
    }
    .game .tab-submit-green, .game .tab-submit-yellow {
        padding: 5px;
        width: 100px;
        top: -80%;
        left: 10%;
        background-size: 80% 90%;
    }
    .game .green-active-bg, .game .yellow-active-bg,.game .green-inactive-bg, .game .yellow-inactive-bg {
        background-size: contain;

    }
    .game .green-yellow-btn-wrapper, .game .grey-btn-wrapper {
        padding-top: 10em;

    }
    .game .grey-btn-wrapper {
        top: -80px;
        position: relative;
    }
    .game .inactive {
        padding: 0 !important;
    }
    
    .game .more {
        font-size: 1.2rem;
    }
    .game .eos, .game .tron {
        top:  100px;
        left: 0;
        right: 0;
        font-size: 1.2rem;
    }

    .play-card .unskewed {
        left: -10px;
    }
    .game .next {
        top: -10px;
        position: relative;
        left: -10px;
    }

}
/**galaxy s8 dimension**/
@media screen and (min-width: 360px) {

    .game .green-active-bg, .game .yellow-active-bg, .game .green-inactive-bg, .game .yellow-inactive-bg {
        background-size: cover;
    }
    .game .green-yellow-btn-wrapper, .game .grey-btn-wrapper {
        padding-top: 15em;
    }
    .game .eos, .game .tron {
        top: 140px;
        left: 0;
        right: 0;
        font-size: 2rem;
    }
    .game .tab-submit-green, .game .tab-submit-yellow {
        padding: 5px;
        width: 150px;
        top: -80%;
        left: 10%;
        background-size: 80% 90%;
    }
    .play-card .unskewed {
        left: -15px;
    }
    .game .next {
        left: -15px;
    }
    .game .more {
        font-size: 2rem;
    }
    .game .grey-btn-wrapper {
        top: -120px;
        position: relative;
    }
}

/**iphone SE dimension**/
@media screen and (min-width: 375px) {

}

/**galaxy 8**/
@media screen and (min-width: 540px) {
    .game .green-active-bg, .game .yellow-active-bg, .game .green-inactive-bg, .game .yellow-inactive-bg {
        background-size: contain;
    }
    .game .grey-btn-wrapper {
        top: -140px;
        position: relative;
    }
    .game .yellow-inactive-bg, .game .green-inactive-bg {
        padding-top: 1.5em;
        padding-bottom: 0em;
    }
    .game .tab-submit-green, .game .tab-submit-yellow {
        padding: 5px;
        width: 150px;
        top: -100%;
        left: 10%;
        background-size: 80% 90%;
    }
}

@media screen and (min-width: 600px) {
    .game .green-active-bg, .game .yellow-active-bg, .game .green-inactive-bg, .game .yellow-inactive-bg {
        background-size: contain;
        padding-top: 10em;
        padding-bottom: 5em;
    }

    .game .tab-submit-green, .game .tab-submit-yellow {
        padding: 20px;
        width: 200px;
        top: -20px;
        left: 10%;
        background-size: 100% 100%;
        height: 100%;
    }
    .game .eos, .game .tron {
        top: 80px;
        left: 0;
        right: 0;
        font-size: 3rem;
    }
    .game .grey-btn-wrapper {
        top: -140px;
        position: relative;
    }
    .game .more {
        font-size: 3rem;
    }
    .play-card .unskewed {
        left: 0px;
        font-size: 20px;
    }
    .game .next {
        left: 0px;
        width: 20px;
    }

}
/**galaxy 8**/
@media screen and (min-width: 653px) {
    .game .green-yellow-btn-wrapper, .game .grey-btn-wrapper {
        padding-top: 10em;
    }
    .game-money {
        font-size: 24px;
    }
    .my-assets {
        font-size: 16px;
    }
    .asset-gp {
        width: 24px;
    }
    .game .wrapper-text {
        top: -5px;
    }
    .game-menu {
        width: 200px !important;
    }
}

/**galaxy 8**/
@media screen and (min-width: 740px) {
    .game .green-yellow-btn-wrapper, .game .grey-btn-wrapper {
        padding-top: 10em;
    }
}
/******old***/
/*@media screen and (max-width: 400px) {
   .green-active-bg {
        background-image: url(../../app-assets/images/home/green-game-zone.png);
        background-size: contain;
    }

    .yellow-active-bg {
        background-image: url(../../app-assets/images/home/yellow-game-zone.png);
        background-size: contain;
    }

    .green-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey.png);
        background-size: contain;
    }

    .yellow-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey-1.png);
        background-size: contain;
    }

    .play-card .eos, .play-card .tron {
        font-size: 2.0rem;
        top: -40%;
    }
     .play-card .more {
        font-size: 1.2rem;
        top: -80px;
        position: relative;
        font-weight: bold;

    }*/

/*
    .play-card .play-button-yellow {
        top: 5px;
        width: 80% !important;
        margin: 0 auto;
        left: 5%;
    }

    .play-card .play-button-green {
        top: 5px;
        width: 80% !important;
        margin: 0 auto;
        right: 5%;
    }
    .play-card .tab-submit-yellow, .play-card .tab-submit-green {
        padding: 0.3em;
            top: -30%;
    }*/
/*    .tagline {
        position: relative;
        top: -20px;
    }

    .last-wrapper, .left-wrapper, .right-wrapper {
        position: absolute;
        bottom: 10%;
        width: 90%;
        margin-bottom: 20px;
    }
}*/

/*@media screen and (min-width: 401px) {
  .green-active-bg {
        background-image: url(../../app-assets/images/home/green-game-zone.png);
        background-size: contain;
    }

    .yellow-active-bg {
        background-image: url(../../app-assets/images/home/yellow-game-zone.png);
        background-size: contain;
    }
        .green-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey.png);
        background-size: contain;

    }

    .yellow-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey-1.png);
        background-size: contain;

    }
    .play-card .eos, .play-card .tron {
        font-size: 2.4rem;
        top: -20%;
    }
    .play-card .tab-submit-yellow, .play-card .tab-submit-green {
        padding: 0.3em;
            top: -30%;
    }
    .play-card .more {
        font-size: 2rem;
        top: -70px;
        position: relative;
        font-weight: bold;
        
    }

    .tagline {
        position: relative;
        top: -20px;
    }

}*/

/*@media screen and (min-width: 500px) {
    .green-active-bg {
        background-image: url(../../app-assets/images/home/green-game-zone.png);
        background-size: contain;
    }

    .yellow-active-bg {
        background-image: url(../../app-assets/images/home/yellow-game-zone.png);
        background-size: contain;
    }
    .green-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey.png);
        background-size: contain;

    }

    .yellow-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey-1.png);
        background-size: contain;

    }
    .play-card .eos, .play-card .tron {
        font-size: 3rem;
        top: -100%;
    }

    .play-card .play-button-yellow {
        top: 75px;
        width: 80% !important;
        margin: 0 auto;
        left: 0;
    }

    .play-card .play-button-green {
        top: 75px;
        width: 80% !important;
        margin: 0 auto;
        right: 0;
    }

    .play-card .more {
        font-size: 2.4rem;
        top: -170px;
        position: relative;
        font-weight: bold;
    }

    .play-card .tab-submit-yellow, .play-card .tab-submit-green {
       
        padding: 1em;
        top: -90%;

    }
    .tagline {
        position: relative;
        top: -30px;
    }

}

@media screen and (min-width: 540px) {
    .play-card .more {
        font-size: 3rem;
        top: -180px;
        position: relative;
        font-weight: bold;
    }
}*/

/*@media screen and (min-width: 667px) {

    .play-card .eos, .play-card .tron {
        font-size: 3.4rem;
        top: -50%;
    }
    .play-card .tab-submit-yellow, .play-card .tab-submit-green {
        padding: 1em;
        top: 20%;
    }
    .tagline {
        position: relative;
        top: -30px;
    }
    .last-wrapper, .left-wrapper, .right-wrapper {
        top: 100px;
        position: relative;
        margin-bottom: 150px;
    }
}

@media screen and (min-width: 700px) {
   .green-active-bg {
        background-image: url(../../app-assets/images/home/green-game-zone.png);
        background-size: contain;
        padding-top: 20em;
        padding-bottom: 20em;
    }

    .yellow-active-bg {
        background-image: url(../../app-assets/images/home/yellow-game-zone.png);
        background-size: contain;
        padding-top: 20em;
        padding-bottom: 20em;
    }

    .green-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey.png);
        background-size: contain;
        padding-top: 20em;
        padding-bottom: 20em;
    }

    .yellow-inactive-bg {
        background-image: url(../../app-assets/images/home/game-grey-1.png);
        background-size: contain;
        padding-top: 20em;
        padding-bottom: 20em;
    }
    .play-card .eos, .play-card .tron {
        font-size: 3.4rem;
        top: -50%;
    }
    .play-card .tab-submit-yellow, .play-card .tab-submit-green {
        padding: 1em;
        top: 5%;
    }
    .play-card .more {
        font-size: 3rem;
        top: -130px;
        position: relative;
        font-weight: bold;
    }
    .tagline {
        position: relative;
        top: -30px;
    }

    .last-wrapper, .left-wrapper, .right-wrapper {
        bottom: -100px;
        position: relative;
        margin-bottom: 150px;
    }

}*/

/*@media screen and (max-width: 280px) {
 .green-active-bg {
        background-image: url(../../app-assets/images/home/green-game-zone.png);
        background-size: contain;
    }

    .yellow-active-bg {
        background-image: url(../../app-assets/images/home/yellow-game-zone.png);
        background-size: contain;
    }
    .play-card .eos, .play-card .tron {
        font-size: 2.4rem;
        top: 20%;
    }

}*/


/*mobile*/
/*@media screen and (max-width: 1199px) {
    .game-menu {
        width: 200px !important;
    }
    

    .game-bg-green {
        width: 135px;
    }

    .game-bg-yellow {
        width: 150px;
        right: 10px;
        position: relative;
    }
     
}*/

/*desktop*/
/*@media screen and (min-width: 1200px) {
    .game-menu {
        width: 200px !important;
    }
    .my-assets {
        color: #5d6772;
        font-size: 24px
    }
    .asset-gp {
        width: 36px;
    }

   .game-bg-green {
        width: 200px;
    }

    .game-bg-yellow {
        width: 220px;
        right: 10px;
        position: relative;
    }

    
    .play-card .eos, .play-card .tron {
        font-size: 3.4rem;
        top: -45%;
    }
}*/

