@font-face {
  font-family: Source Han Sans CN;
  src: url(Source-Han-Sans-CN-Regular.otf)  format("opentype");
}

/*******GENERAL***********************************************/
body {
    font-family: 'Source Han Sans CN';
    z-index: 80 !important;
    background-image: url('../../app-assets/images/home/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0b0c10;
}
a, a:hover {
  color: #555555;
}
.header-nav{
    background-color: transparent !important;
    margin: 0 auto;
    background-image: url(../../app-assets/images/home/header-bg2.png);
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;

}
.important {
    box-shadow: inset 0px 0px 40px 5px rgb(233 141 32 / 39%);
    border-radius: 15px;
    position: relative;
    top: 10px;
    border: 3px solid rgb(241, 172, 98, 0.3);
    /*opacity: 0.53;*/
}
/**textbox**/
.wrapper
{
    background-image: url(../../app-assets/images/home/textbox-bg.png);
    background-color: transparent;
    border: none;
    outline: unset;
    background-repeat: no-repeat;
    /* height: 50px; */
    background-size: 100% 100%;
    width: 100%;
    /* aspect-ratio: 1; */
    padding: 1.2rem 3rem;
    padding-left: 0.4rem;
}
/**datatable**/
.play tfoot, .play thead , .asset tfoot, .play thead, .history tfoot {
    display: none;
    border: none;
}


table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
  border: none;
}
.history thead th {
  color: #787a7b;
}
div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate{
    padding-bottom: 15%;
    margin-bottom: 15%;
}
.pagination .page-item.previous {
    left: 0;
    position: absolute;
}

.pagination .page-item.next {
   right: 0;
    position: absolute;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content:  center !important;
}

.wrapper input.trans-input
{
    appearance: none;
    resize: none;
    width: 100%;
    appearance: none;
    background: transparent;
    border: none;
    resize: none;
    color: white;
    padding-left: 10px;
    color: white !important;
    border: none !important;
    outline: none !important;
    background-color: transparent;
}

.line {
    position: relative;
    top: -3px;
    cursor: pointer;
}

.header-title {
    color: #fff;
    font-style: italic;
    text-transform: uppercase;
    font-family: Source Han Sans CN;
    cursor: pointer;
}

.tab-submit-yellow {
    width: 250px;
    color: white;
    position: relative;
    line-height: 12px;
    text-align: center;
    padding: 1.5em;
    background-image: url(../../app-assets/images/home/yellow-btn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.tab-submit-blue {
    width: 250px;
    color: white;
    position: relative;
    line-height: 12px;
    text-align: center;
    padding: 1.5em;
    background-image: url(../../app-assets/images/home/blue-btn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.tab-submit-green {
    width: 250px;
    color: white;
    position: relative;
    line-height: 12px;
    text-align: center;
    padding: 1.5em;
    background-image: url(../../app-assets/images/home/green-btn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.form-wrapper .tab-submit-green, .form-wrapper .tab-submit-blue, .form-wrapper .tab-submit-yellow {
  margin: 0 auto;
}
.home .home .tab-submit-green.btn-center-align, .home .home .tab-submit-yellow.btn-center-align {
    margin: 0 auto;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle{
    background: none;
}
.content-guard {
/*    padding-top: 10%;
    position: relative;*/
 /*   margin-bottom: 20%;*/
}
.dropdown-menu {
    width: 100px !important;
    min-width:  20px !important;
    background-color: transparent !important;
    border: none !important;
    z-index: 900;
}
.dropdown-item {
  text-transform: capitalize;
}
.dropdown-menu i {
  color: #c2d7e8;
}

.card {
  background: transparent;
}

#dropdown-flag::after {
    display: none !important;
}
/**galaxy fold dimension**/
@media screen and (min-width: 280px) {
  .xx-wrapper {
    min-width: 200px;
    max-width: 280px;
    margin: 0 auto;
  }
  .header-title {
    font-size: 12px;
   }
  .line {
    width: 12px;
    top: -1px;
  }
  .home .tab-submit-green, .home .tab-submit-yellow, .form-wrapper .tab-submit-green, .form-wrapper .tab-submit-yellow {
    padding: 1.2em;
    width: 200px;
  }
  .unskewed {
      font-size: 12px;
      line-height: 1;
  }
  .wrapper input.trans-input {
     font-size: 12px;
  }
  .wrapper {
    padding: 1.0rem;
  }

  .nav-1 .dropdown-item {
      position: relative;
      left: 30px;
  }
 
  .nav-2 .dropdown-item {
      left: 5px;
      position: relative;
  }

}

/**galaxy s8 dimension**/
@media screen and (min-width: 360px) {
  .xx-wrapper {
    min-width: 200px;
    max-width: 360px;
    margin: 0 auto;
  }
  .header-title {
    font-size: 16px;
   }
  .line {
    width: 16px;
    top: -3px;
  }
  .unskewed {
      font-size: 14px;
      line-height: 1;
  }
  .wrapper input.trans-input {
     font-size: 14px;
  }
  .home .tab-submit-green, .home .tab-submit-yellow, .form-wrapper .tab-submit-green, .form-wrapper .tab-submit-yellow {
    padding: 1.5em;
    width: 250px;
  }

}

/**iphone SE dimension**/
@media screen and (min-width: 375px) {
  .xx-wrapper {
    min-width: 300px;
    max-width: 375px;
    margin: 0 auto;
  }
}

/**surface duo**/
@media screen and (min-width: 540px) {
   .nav-2 .dropdown-item {
        left: -23px;
        position: relative;
    }
    .xx-wrapper {
      min-width: 300px;
      max-width: 540px;
      margin: 0 auto;
    }
}

@media screen and (min-width: 600px) {
    .xx-wrapper {
      min-width: 300px;
      max-width: 600px;
      margin: 0 auto;
    }
    .header-title {
      font-size: 24px;
    }
    .line {
      width: 24px;
      top: -5px;
    }
    .wrapper {
      padding: 1.2rem;
    }
    .flag-icon {
      position: relative;
      width: 2.5em;
      line-height: 1.5em;
      top: 5px;
    }
    .nav-1 .dropdown-item {
        position: relative;
        left: -20px;
    }
    .nav-2 .dropdown-item {
        left: -23px;
        position: relative;
    }
    div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate{
      margin-bottom: 15%;
      margin-top: 15%;
      left: -50%;
      position: relative;
  }
}
