/*********HASHIES****************************************/
.hashies-toggle {
    position: relative;
    top: 10px;
}
.hashies-timer {
    color: white !important;
    border: none !important;
    width: 100% !important;
    outline: none !important;
    background-color: transparent;
    -moz-box-shadow: inset 0 0 5px 5px #888;
    -webkit-box-shadow: inset 0 0 5px 5px#888;
    box-shadow: inset 0 0 1px 1px #25272b;
    height: 15px;
    background-color: transparent;
    height: 80px;
    border-radius: 10px;
    padding-left: 10px;
}

.hashies-timer-top {
    color: white !important;
    border: none !important;
    width: 100% !important;
    outline: none !important;
    background-color: transparent;
    -moz-box-shadow: inset 0 0 5px 5px #888;
    -webkit-box-shadow: inset 0 0 5px 5px#888;
    box-shadow: inset 0 0 1px 1px #25272b;
    height: auto !important;
    background-color: transparent;
    height: 80px;
    border-radius: 10px;
    padding-left: 10px;
    bottom: 10px;
}

.divider {
    background-color: rgb(77, 117, 167);
    opacity: 0.302;
    position: relative;
    width: 2px;
    height: 30px;
    z-index: 111;
    top: 10px;
}

.hashies-timer-top h3 {
    color:#e8c661;
    position: relative;
    top: 5px;
}
.hashies-time {
    color: #fff;
    position: relative;
    top: 10px;
}

.hashies-text {
    color: #464448;
}
.hashies-wrapper {
    position: relative;
    top: 50px;
}
@media screen and (max-width: 400px) {
    .hashies-wrapper .tab-submit-yellow {
        padding: 1em;
    }
    .wrapper {
        padding: 1rem;
    }
}

@media screen and (min-width: 600px) {
  .hashies-wrapper .tab-submit-yellow {
        padding: 1.6em;
    }
}

.content-guard {
    padding-top: 10%;
    position: relative;
 /*   margin-bottom: 20%;*/
}
/********NEWS**********************************************/

/*mobile*/
@media screen and (max-width: 600px) {
    .news-title {
        color: #fff;
        font-size: 20px;
        padding-top: 20px;
    }
    .news-wrapper {
        background-image: url(../../app-assets/images/home/news-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        /*min-height: 200px;*/
        padding: 20px;
    }
}

/*desktop*/
@media screen and (min-width: 601px) {
    .news-title {
        color: #fff;
        font-size: 30px;
        padding-top: 20px;
    }
    .news-wrapper {
        background-image: url(../../app-assets/images/home/news-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        /*min-height: 200px;*/
        padding: 10% 3%;
    }
}

.news-info {
    color: #616d78;
    font-size: 12px;
}
.news-body {
    line-height: 1.8;
    color: rgb(194, 215, 232);
}
