/***LOGIN***/
.welcome{
    color: #315c23;
    font-size: 34px;
    -webkit-text-stroke: 1px #315c23;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: -13px;
}
.white-font {
    color: #fff;
}
.login-wrapper {
    background-image: url(../../app-assets/images/home/login-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}
.captcha-wrapper
{
    background-image: url(../../app-assets/images/home/captcha2.png);
    background-color: transparent;
    border: none;
    outline: unset;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 1.2rem 3rem;
    padding-left: 0.4rem;
}

.captcha-wrapper input.trans-input
{
    appearance: none;
    resize: none;
    width: 100%;
    appearance: none;
    background: transparent;
    border: none;
    resize: none;
    color: white;
    padding-left: 10px;
    color: white !important;
    border: none !important;
    outline: none !important;
    background-color: transparent;
}

.pwd{
    position: relative;
}
.p-viewer {
    z-index: 9999;
    position: absolute;
    top: 30%;
    right: 10px;
}

.fa-eye {
    color: #000;
}

.agsl-logo, .hppc {
    position: relative;
}

/**galaxy fold dimension**/
@media screen and (min-width: 280px) {
    .agsl-logo {
        width: 80% !important;
        position: relative;
    }
    .hppc {
        width: 40%;
    }
}

/**galaxy s8 dimension**/
@media screen and (min-width: 360px) {

    .agsl-logo {
        width: 50% !important;
        position: relative;
    }
    .hppc {
        width: 25%;
    }
}

@media screen and (min-width: 600px) {
  .hppc {
    width: 25%;
    top: 7px;
  }
}